	
	</section>
	<footer class="footer">
		<div class="footer-inner">
			<div class="copyright pull-left">
			 <a href="http://zz.com/" title="舌尖上的程序猿">舌尖上的程序猿</a> 
			 版权所有，保留一切权利 ! 
			 ·   
			 © 2016-2016 ·
			</div>
		</div>
	</footer>
	<script>
		$('#toggle-search').click(
			function () {
				$('#search-expand').toggle();
			}	
		); 
		$('#loginout').click(
			function(){
				$.get('/index/login/loginout','',function(data){
					if(data){
						location.reload();
					}
				})
			}
		);
	</script>
	<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=14914467229010594376' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script></body>
</html>