	
	</section>
	<footer class="footer">
		<div class="footer-inner">
			<div class="copyright pull-left">
			 <a href="http://zz.com/" title="舌尖上的程序猿">舌尖上的程序猿</a> 
			 版权所有，保留一切权利 ! 
			 ·   
			 © 2016-2016 ·
			</div>
		</div>
	</footer>
	<script>
		$('#toggle-search').click(
			function () {
				$('#search-expand').toggle();
			}	
		); 
		$('#loginout').click(
			function(){
				$.get('/index/login/loginout','',function(data){
					if(data){
						location.reload();
					}
				})
			}
		);
	</script>
	</body>
</html>