{layout name="layout" /}
<script>
	$("#health").addClass("current_page_item").siblings().removeClass("current_page_item");
</script>
<div class="content-wrap">
	<div class="content">
		<header class="archive-header">
			<h1>
				<i class="fa fa-folder-open"></i>&nbsp;分类：健康
			</h1>
		</header>
		{volist name="articles" id="val"}
			<article class="excerpt">
				
				<header>
					<a class="label label-success" href="/health">健康
						<i class="label-arrow"></i>
					</a>
					<h2>
						<a href="/health/{$val.id}" title="{$val.title}">{$val.title} </a>
					</h2>
				</header>
				<div class="focus">
					<a href="/health/{$val.id}">
						<img class="thumb" width="200" height="123" src="/uploads/{$val.photo}" alt="{$val.title}">
					</a>
				</div>
				<span class="note"> 
					{$val.brief}
				</span>
				<p class="auth-span">
					<span class="muted"><i class="fa fa-clock-o"></i> {$val.time|from_time}</span>	
					<span class="muted"><i class="fa fa-eye"></i> {$val.pcount}</span>	
					<span class="muted"><i class="fa fa-comments-o"></i> <a target="_blank" href="#comments">{$val.review}评论</a></span>
					<span class="muted" style="display:none;"><a href="javascript:;" data-action="ding" data-id="3798" id="Addlike" class="action"><i class="fa fa-heart-o"></i><span class="count">35</span>喜欢</a></span>
				</p>
			</article>
		{/volist}
	</div>
</div>
<aside class="sidebar">
	<div class="widget widget_text">
		<div class="textwidget">
			<div class="social">
				<a href="http://weibo.com/u/1886150783" rel="external nofollow" title="" target="_blank" data-original-title="新浪微博">
					<i class="sinaweibo fa fa-weibo"></i>
				</a>
				<a href="http://weibo.com/u/1886150783" rel="external nofollow" title="" target="_blank" data-original-title="腾讯微博">
					<i class="tencentweibo fa fa-tencent-weibo"></i>
				</a>
				<a class="weixin" data-original-title="" title="">
					<i class="weixins fa fa-weixin"></i>
					<div class="weixin-popover">
						<div class="popover bottom in">
							<div class="arrow">
							</div>
							<div class="popover-title">订阅号“臻臻工作室”</div>
								<div class="popover-content">
									<img src="/static/images/qrcode.jpg" />
								</div>
							</div>
					</div>
				</a>
				<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=85aflpCHiZuWnbOCgt2QnJ4" rel="external nofollow" title="" target="_blank" data-original-title="Email">
					<i class="email fa fa-envelope-o"></i>
				</a>
				<a href="http://wpa.qq.com/msgrd?v=3&uin=465629989&site=qq&menu=yes" rel="external nofollow" title="" target="_blank" data-original-title="联系QQ">
					<i class="qq fa fa-qq"></i>
				</a>
				<a href="#" rel="external nofollow" target="_blank" title="" data-original-title="订阅本站">
					<i class="rss fa fa-rss"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="widget d_subscribe">
		<div class="title">
			<h2>邮件订阅</h2>
		</div>
		<form action="http://list.qq.com/cgi-bin/qf_compose_send" target="_blank" method="post">
			<p>填写您的邮件地址，订阅更多的精彩内容：</p>
			{:token()}
			<input type="email" name="to" class="rsstxt" placeholder="your@email.com" value="" required="">
			<input type="submit" class="rssbutton" value="订阅">
		</form>
	</div>
	<div class="widget d_postlist">
		<div class="title">
			<h2>猜你喜欢</h2>
		</div>
		<ul>
			{volist name="newArticles" id="val"}
			<li>
				<a href="/health/{$val.id}" title="{$val.title}">
					<span class="thumbnail">
						<img src="/uploads/{$val.photo}" alt="{$val.title}"></span>
					<span class="text">{$val.title}</span>
					<span class="muted">{$val.time|from_time}</span>
					<span class="muted" style="float: right;">{$val.review}评论</span>
				</a>
			</li>
			{/volist}
		</ul>
	</div>
	<div class="widget d_comment">
		<div class="title">
			<h2>最新吐槽</h2>
		</div>
		<ul>
			{volist name='newMessages' id='val'}
			<li>
				<a href="/message" title="{$val.message}">
					<img alt="" src="{$val.asend}" class="avatar avatar-48 photo" height="48" width="48">
					<div class="muted">
						<i>{$val.send}</i>{$val.time|from_time}说：{$val.message}
					</div>
				</a>
			</li>
			{/volist}
		</ul>
	</div>
	<div class="widget widget_links">
		<div class="title">
			<h2>友情链接</h2>
		</div>
		<ul class="xoxo blogroll">
			<li>
				<a href="http://www.thinkphp.cn/">ThinkPHP</a>
			</li>
			<li>
				<a href="http://v3.bootcss.com/" target="_blank">Bootstrap</a>
			</li>
			<li>
				<a href="http://www.youziku.com/" target="_blank">有字库</a>
			</li>
			<li>
				<a href="http://layer.layui.com/" target="_blank">Layer</a>
			</li>
			<li>
				<a href="http://www.yusi123.com/" target="_blank">欲思博客</a>
			</li>
		</ul>
	</div>
</aside>
		